---
---

@import "{{ site.theme }}";

a:hover {font-weight: normal; text-decoration:underline;}
h1 {font-weight: normal;}
.introductory-section {color: #000;}
#poem-year {margin:1em 0 0 0;}
.highlight {background:yellow}
#poetry-collection pre {font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;background: none;overflow-x:visible;}
