<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>This website contains stories from <em><a href="https://www.bl.uk/works/the-garden-party-and-other-stories">The Garden Party: and Other Stories</a></em> by <a href="https://teara.govt.nz/en/biographies/3m42/mansfield-katherine">Katherine Mansfield</a> (pictured above).</p>
        <p>This site was built by <a href="https://polsci.github.io/">Geoff Ford</a> for a web scraping exercise for students at the University of Canterbury.</p>
        <p>It is based on <a href="/scraping-garden-party/1429-0.txt">this text file</a> from <a href="https://www.gutenberg.org/ebooks/1429">Project Gutenberg</a>.</p>
        <p>A poem "<a href="/scraping-garden-party/to-lhb.html">To L. H. B. (1894–1915)</a>" is included to demonstrate AJAX loading of text within a page.</p>

        <input id="selector" type="text" placeholder="Enter selector (e.g. h1)">

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section id="page-content">
        {% if page.author %}
        <div id="page-meta">
          <span id="page-author">{{ page.author }}</span>{% if page.date %}, <span id="page-published">{{ page.date | date: "%Y" }}</span>{% endif %}
        </div>
        {% endif %}
      {{ content }}

      </section>
      <footer>
        <p></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}

    <script>
      var sel=document.getElementById("selector"),lastsel=!1;sel.addEventListener("change",e=>{if(0!=lastsel)for(results=document.querySelectorAll(lastsel),i=0;i<results.length;++i)results[i].classList.remove("highlight");for(results=document.querySelectorAll(e.target.value),i=0;i<results.length;++i)results[i].classList.add("highlight");lastsel=e.target.value});
      var el=document.getElementById("poem-text");if(void 0!==el&&null!=el){var request=new XMLHttpRequest;request.open("GET","poem-text.json",!0),request.onload=function(){if(this.status>=200&&this.status<400){var e=JSON.parse(this.response);el.innerHTML=e.text,document.getElementById("poem-title").innerHTML=e.title,document.getElementById("poem-year").innerHTML=e.year}},request.onerror=function(){},request.send()}
    </script>
  </body>
</html>
